<nav class="navbar navbar-inverse"  >
  <div class="container-fluid">
    <div class="navbar-header">
      <h3 class="Demo">Demo Application</h3>
      <a class="navbar-brand"></a>
    </div>
    <ul class="nav navbar-nav">
      <tr>
      <div class="Home">
      <a routerLinkActive="active" routerLink="">Home</a>&nbsp;&nbsp;
      <a routerLinkActive="active" routerLink="/employee">Employee</a>&nbsp;&nbsp;
      <a routerLinkActive="active" routerLink="/about">About</a>&nbsp;&nbsp;
      <button (click)="onSide()"></button>
    </div>
    </tr>
    </ul>
  </div>
</nav>






